# Python
venv/
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3
instance/

# Environment variables (NEVER commit AWS keys!)
.env

# Node.js
node_modules/
dist/
.cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
